In [1]:
import numpy as np
import pickle
import matplotlib.pyplot as plt
import seaborn as sns

from astropy.coordinates import SkyCoord, Angle
import astropy.units as u
from astropy.table import QTable

import pandas as pd
import pingouin as pg
from gala.coordinates import MagellanicStreamNidever08

%matplotlib notebook

In [2]:
#Load High ion absorption line measurements
summed_columns = QTable.read("Data/SUMMED_ION_COLUMNS.fits")

In [3]:
source_gal = SkyCoord(l = summed_columns["GAL_LON"], b = summed_columns["GAL_LAT"], frame = "galactic")
source_ms = source_gal.transform_to(MagellanicStreamNidever08())

In [4]:
CIV_mask = summed_columns["LOG_N_ERR_CIV"] > 0
CIV_df = pd.DataFrame({"N":summed_columns["LOG_N_CIV"][CIV_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][CIV_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[CIV_mask].value)})

SiIV_mask = summed_columns["LOG_N_ERR_SiIV"] > 0
SiIV_df = pd.DataFrame({"N":summed_columns["LOG_N_SiIV"][SiIV_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][SiIV_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[SiIV_mask].value)})

SiII_mask = summed_columns["LOG_N_ERR_SiII"] > 0
SiII_df = pd.DataFrame({"N":summed_columns["LOG_N_SiII"][SiII_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][SiII_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[SiII_mask].value)})

SiIII_mask = summed_columns["LOG_N_ERR_SiIII"] > 0
SiIII_df = pd.DataFrame({"N":summed_columns["LOG_N_SiIII"][SiIII_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][SiIII_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[SiIII_mask].value)})


CII_mask = summed_columns["LOG_N_ERR_CII"] > 0
CII_df = pd.DataFrame({"N":summed_columns["LOG_N_CII"][CII_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][CII_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[CII_mask].value)})

AlII_mask = summed_columns["LOG_N_ERR_AlII"] > 0
AlII_df = pd.DataFrame({"N":summed_columns["LOG_N_AlII"][AlII_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][AlII_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[AlII_mask].value)})

FeII_mask = summed_columns["LOG_N_ERR_FeII"] > 0
FeII_df = pd.DataFrame({"N":summed_columns["LOG_N_FeII"][FeII_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][FeII_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[FeII_mask].value)})

OI_mask = summed_columns["LOG_N_ERR_OI"] > 0
OI_df = pd.DataFrame({"N":summed_columns["LOG_N_OI"][OI_mask].data.byteswap().newbyteorder(),
                       "RHO":summed_columns["RHO_LMC"][OI_mask].value.byteswap().newbyteorder(), 
                       "MS_LAT":np.abs(source_ms.B[OI_mask].value)})

## C IV

In [5]:
pg.partial_corr(data=CIV_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r           CI95%  p-val
spearman  17 -0.793  [-0.92, -0.49]    0.0

In [6]:
pg.partial_corr(data=CIV_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  17  0.323  [-0.21, 0.71]  0.222

## Si IV

In [7]:
pg.partial_corr(data=SiIV_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r           CI95%  p-val
spearman  17 -0.524  [-0.81, -0.04]  0.037

In [8]:
pg.partial_corr(data=SiIV_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  17  0.244  [-0.29, 0.66]  0.362

# Si II

In [9]:
pg.partial_corr(data=SiII_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r           CI95%  p-val
spearman  21 -0.583  [-0.82, -0.19]  0.007

In [10]:
pg.partial_corr(data=SiII_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  21 -0.328  [-0.67, 0.13]  0.159

## Si III

In [11]:
pg.partial_corr(data=SiIII_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r           CI95%  p-val
spearman  22 -0.664  [-0.85, -0.33]  0.001

In [12]:
pg.partial_corr(data=SiIII_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  22 -0.158  [-0.55, 0.29]  0.494

## Al II

In [13]:
pg.partial_corr(data=AlII_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r           CI95%  p-val
spearman  18 -0.534  [-0.81, -0.07]  0.027

In [14]:
pg.partial_corr(data=AlII_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  18 -0.468  [-0.77, 0.02]  0.058

## C II

In [15]:
pg.partial_corr(data=CII_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r           CI95%  p-val
spearman  20 -0.525  [-0.79, -0.09]  0.021

In [16]:
pg.partial_corr(data=CII_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  20 -0.076  [-0.51, 0.39]  0.758

## Fe II

In [17]:
pg.partial_corr(data=FeII_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r         CI95%  p-val
spearman  12 -0.143  [-0.68, 0.5]  0.676

In [18]:
pg.partial_corr(data=FeII_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  12 -0.561  [-0.87, 0.06]  0.072

## O I

In [19]:
pg.partial_corr(data=OI_df, x='N', y='RHO', covar='MS_LAT', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  13 -0.117  [-0.65, 0.49]  0.717

In [20]:
pg.partial_corr(data=OI_df, x='N', y='MS_LAT', covar='RHO', method = "spearman").round(3)

           n      r          CI95%  p-val
spearman  13 -0.693  [-0.91, -0.2]  0.012